.App{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header{
  text-align: center;
  font-weight: bolder;
  padding: 2% 0%;
}

.results{
  text-align: center;
  font-weight: bolder;
}

table, th, td {
  border: 1px solid black;
}
